@font-face {
  font-family: 'DeathNoteFont'; 
  src: url('fonts/Death-Note.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  color: white;
  font-size: 135%;
  background-color: black;
  
  font-family: 'DeathNoteFont', sans-serif;
  margin-left: 22%;
  margin-right: 22%;
}

img {
  height: 50%;
  width: 50%;
}

header {
  text-align: center;
}

h1 {
  font-size: 390%;
  
  font-family: 'DeathNoteFont', sans-serif;
}

.caixa-seria {
  font-family: 'Special Elite', monospace;
  font-size: 16px;
  color: #FFF;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #555;
  outline: none;
  padding: 10px 5px;
  width: 350px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.caixa-seria:focus {
  border-bottom-color: #E0E0E0;
}

.caixa-seria::placeholder {
  color: #777;
  font-family: 'Special Elite', monospace;
}
